<div class="login">   
    <div class="login-form">
        <form action="javascript:void(0)">
            <div class="text-center" >
                <h1>Angular Project</h1>
            </div>

            <div class="form-group mb-3">
                <mat-form-field appearance="outline">
                    <mat-label >Enter New Password</mat-label>
                    
                    <input autocomplete="off" matInput [type]="hide1 ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                      <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
            </div>

            <div class="form-group mb-3">
                <mat-form-field appearance="outline">
                    <mat-label >Re-Enter New Password</mat-label>
                    
                    <input autocomplete="off" matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>                                                                                                                                                                                                                                                   
            </div>



            <div class="d-grid">
                <button mat-raised-button color="primary">Submit</button>
            </div>
        </form>
    </div>
</div>