<div class="login">   
    <div class="login-form">
        <form action="javascript:void(0)">
            <div class="text-center" >
                <h1>Angular Project</h1>
            </div>

            <div class="form-group mb-3">
                  <div>    
                    <ng-otp-input class="otp" #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent"
                        [config]="config">
                    </ng-otp-input>
                </div>
            </div>

           


            

            <div class="d-grid">
                <!-- <button class="btn btn-primary"> Submit </button> -->
                <button mat-raised-button color="primary" routerLink="/reset-password">Submit</button>
            </div>
        </form>
    </div>
</div>