/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 27px!important;
}


.mat-form-field-underline {
    /*position: absolute;
    */width: 100%;
    pointer-events: none;
    /*color: red;
    */transform: scale3d(0.88, 1.0001, 2)!important;
}
.mat-form-field-infix {
    padding: 0.5em 0;
    border-top: 0.64375em solid transparent;
}




/* shared.css */


.login{
    margin: 0px auto;
    max-width: 400px;

}

.login-form{
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 400px;
}

form{
    width: 100%;
    background-color: #ffffff;
    padding: 15px 20px 15px;
    box-shadow: 0px -1px 8px 2px #c0c0c040;
    border-radius: 3px;
}



.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }



  .mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
}


.mat-form-field-label-wrapper {
  top: -18px;
  padding-top: 9px;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 6px;
}


.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1em) scale(0.75);
  width: 133.3333333333%;
}


